.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  /* padding-top: 70px; */

}

.container {
  display: flex;
  height: 80vh;
  border: 1px solid grey;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: white;

}

.todoForm {
  display: flex;
  justify-content: space-between;
  width: 450px;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

button {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
  min-width: 70px;
  margin-left: 5px;

}

button:hover {
  background-color: greenyellow;
  color: rgb(17, 16, 16);
}

.allTodos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.singleTodo {
  border-radius: 50px;
  margin: 10px 0;
  background-color: #5dadf8;
  padding: 10px 20px;
  display: flex;
  width: 450px;
  align-items: center;
  justify-content: space-between;   
}


.todoText {
  flex: 1;
  text-align: left;
  word-break: break-word;
  overflow-wrap: break-word;
}